---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* =Colors */
$iron: #333333;
$bg_color: #fff;
$link_color: #0095CB;
$cloudy: #0d0d0d;

@import
    "mixins",
    "default",
    "404"
;
